/* src/index.css */

body {
  margin: 0;
  padding: 0;
  min-width:'100vh';
  background-color: #a48a8a;   /* black background */
  color: #ff0000;           /* red text */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  color: #ff0000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
